@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: url('CINZEL-REGULAR.ttf');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('RALEWAY-MEDIUM.ttf');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('RALEWAY-ITALIC.ttf');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('RALEWAY-BOLD.ttf');
}
